
.landingbody_container {
  background-color: black;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingbody_title {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
  /* width: 300px; */
  width: 40%;
  margin-left: 100px;
}

.landing_particles {

  /* height: 100%; */
  width: 60%;
  /* width: 400px; */
  /* height: 400px; */
  /* position: absolute; */
  /* right: 100px; */
}
