.landingfooter_container {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
}

.landingfooter_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
}
