.landingheader_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(83, 83, 83);
  height: 60px;
  opacity: .8;
  width: 100%;
  position: fixed;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
}

.landing_logo {
  height: 110px;
}

.disable {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;
}
