.loginmodal {
  border-radius: 10px;
  /* background-color: green; */
}

.loginmodal_login {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 325;


}

.loginmodal_wrapper {
  /* background-color: lightgrey; */
  /* opacity: .5;  */
  /* filter: blur(10px); */
  /* -webkit-filter: blur(2px); */
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  /* z-index: 1; */
}
